*.png

test_*.py

__pycache__/

*.txt

/utils


# Ignore all files in the data directory
!data/blues/blues00088.png
!data/blues/blues00056.png
!data/blues/blues00010.png
!data/blues/blues00002.png
!data/blues/blues00015.png
!data/blues/blues00073.png
!data/blues/blues00005.png
!data/blues/blues00099.png
!data/blues/blues00009.png
!data/blues/blues00029.png
!data/classical/classical00055.png
!data/classical/classical00062.png
!data/classical/classical00070.png
!data/classical/classical00012.png
!data/classical/classical00037.png
!data/classical/classical00034.png
!data/classical/classical00038.png
!data/classical/classical00072.png
!data/classical/classical00057.png
!data/classical/classical00086.png
!data/country/country00011.png
!data/country/country00012.png
!data/country/country00077.png
!data/country/country00038.png
!data/country/country00027.png
!data/country/country00094.png
!data/country/country00060.png
!data/country/country00008.png
!data/country/country00082.png
!data/country/country00091.png
!data/disco/disco00004.png
!data/disco/disco00028.png
!data/disco/disco00056.png
!data/disco/disco00096.png
!data/disco/disco00006.png
!data/disco/disco00027.png
!data/disco/disco00087.png
!data/disco/disco00002.png
!data/disco/disco00017.png
!data/disco/disco00035.png
!data/hiphop/hiphop00069.png
!data/hiphop/hiphop00082.png
!data/hiphop/hiphop00078.png
!data/hiphop/hiphop00039.png
!data/hiphop/hiphop00096.png
!data/hiphop/hiphop00084.png
!data/hiphop/hiphop00066.png
!data/hiphop/hiphop00053.png
!data/hiphop/hiphop00020.png
!data/hiphop/hiphop00049.png
!data/jazz/jazz00049.png
!data/jazz/jazz00073.png
!data/jazz/jazz00067.png
!data/jazz/jazz00062.png
!data/jazz/jazz00059.png
!data/jazz/jazz00080.png
!data/jazz/jazz00017.png
!data/jazz/jazz00014.png
!data/jazz/jazz00061.png
!data/jazz/jazz00019.png
!data/metal/metal00037.png
!data/metal/metal00083.png
!data/metal/metal00089.png
!data/metal/metal00027.png
!data/metal/metal00035.png
!data/metal/metal00049.png
!data/metal/metal00094.png
!data/metal/metal00072.png
!data/metal/metal00054.png
!data/metal/metal00002.png
!data/pop/pop00038.png
!data/pop/pop00055.png
!data/pop/pop00018.png
!data/pop/pop00049.png
!data/pop/pop00028.png
!data/pop/pop00026.png
!data/pop/pop00095.png
!data/pop/pop00007.png
!data/pop/pop00006.png
!data/pop/pop00008.png
!data/reggae/reggae00028.png
!data/reggae/reggae00037.png
!data/reggae/reggae00065.png
!data/reggae/reggae00094.png
!data/reggae/reggae00051.png
!data/reggae/reggae00027.png
!data/reggae/reggae00014.png
!data/reggae/reggae00098.png
!data/reggae/reggae00084.png
!data/reggae/reggae00092.png
!data/rock/rock00089.png
!data/rock/rock00044.png
!data/rock/rock00028.png
!data/rock/rock00096.png
!data/rock/rock00009.png
!data/rock/rock00079.png
!data/rock/rock00037.png
!data/rock/rock00014.png
!data/rock/rock00039.png
!data/rock/rock00027.png